:root{
    --intro-background: hsl(217, 28%, 15%);
    --main-background:hsl(218, 28%, 13%);
    --footer-ackground:hsl(219, 30%, 18%);
    --testimonials-background:hsl(216, 53%, 9%);
    --Cyan:hsl(176, 68%, 64%);
    --Blue:hsl(198, 60%, 50%);
    --Light-Red:hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px; 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: var(--intro-background);
    height: 100vh;
    color: var(--White);
}
nav {
    padding: 40px;
}
nav ul{ 
    list-style-type: none;  
    overflow: hidden; 
    float: right;
    padding-inline: 20px;
}
nav ul li{
    float: right;
    padding-inline: 20px;
    font-weight: 400;
    font-size: 16px;
}
main{
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-block: 3%;
    gap: 10px;
    background: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
main h1{
    padding: 0% 30%;
    font-size: 35px;
}
main p{
    padding: 0% 36%;
    font-size: 18px;
    line-height: 30px;
}
main .blue-btn{
    background: linear-gradient(to right, var(--Cyan), var(--Blue));
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 15px 80px;
    color: var(--White);
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

@media (min-width:100px) and (max-width:375px){
    
}
