:root{
    --intro-background: hsl(217, 28%, 15%);
    --main-background:hsl(218, 28%, 13%);
    --footer-ackground:hsl(216, 53%, 9%);
    --testimonials-background:hsl(219, 30%, 18%);
    --Cyan:hsl(176, 68%, 64%);
    --Blue:hsl(198, 60%, 50%);
    --Light-Red:hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px; 
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-background);
    height: 100vh;
    color: var(--White); 
}
nav {
    width: 100%;
    padding: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--intro-background);
}
nav ul{ 
    list-style-type: none;  
    overflow: hidden; 
    float: right;
    padding-inline: 20px;
}
nav ul li{
    float: right;
    padding-inline: 20px;
    font-weight: 400;
    font-size: 16px;
}
nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
main{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-block: 3%;
    gap: 10px;
    background: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: var(--intro-background);
} 
main h1{
    padding: 0% 30%;
    font-size: 45px;
}
main p{
    padding: 0% 36%;
    font-size: 18px;
    line-height: 30px;
}
main .blue-btn{
    background: linear-gradient(to right, var(--Cyan), var(--Blue));
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 15px 80px;
    color: var(--White);
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}
main .blue-btn:hover{
    opacity: 0.7;
    cursor: pointer;
}
.middle-sec{
    background-color: var(--main-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding:5% 10%; 
}
.middle-sec .four-sec{
    display: grid; 
    justify-items: center;
    align-items: center;
    padding-block: 5%;
    gap: 10px;
}
.middle-sec .four-sec img{
    padding-bottom: 30px;
}
.middle-sec .four-sec p{
    width: 55%;
    text-align: center;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
}
.middle-sec .four-sec .heading{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.three{
    background: var(--main-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 8%;
    padding-block: 3%;
    align-items: center;
    gap: 50px;
}
.three img{
    scale: 0.9;
    padding-inline: 10%;
}
.three .three-right{
    display: grid;
    gap: 30px;
    width: 90%;
}
.three .three-right h1{
    font-size: 50px;
    width: 80%;
}
.three .three-right p{
    font-size: 16px;
    word-spacing: 3px;
    line-height: 30px;
}
.three .three-right .three-link{
    width: 48%;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
}
.three .three-right .three-link a:hover{
    color: white;
    cursor: pointer;
} 

.three .three-right .three-link:after{  
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    bottom: -10px;
    left: 0;
    width: 85%;
    height: 1px;
    background-color:var(--Cyan)
}
.three .three-right .three-link a{
    color: var(--Cyan);
    text-decoration: none;
    font-size: 18px;
}
.three .three-right .three-link img{
    width: 50%;
}
.three .three-right .three-link:hover:after { 
    background-color: white;
}
.three .three-right .three-link:hover img {  
    filter: grayscale(1);
}
.testimonials{
    position: relative;
    padding: 120px 13% 200px 13%; 
} 
.testimonials #quotes{  
    position: absolute;
    top: 14%;
    left: 14%; 
    z-index: -2;  
}
.testimonial-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px; 
    z-index: 1;
}
.testimonial-cards .testimonial-card .name-sec{
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    gap: 20px;
    justify-items: flex-start;
    align-items: flex-start;
}
.testimonial-cards .testimonial-card img{
    width: 50px;
    border-radius: 50px;
}
.testimonial-card{
    background-color: var(--testimonials-background);
    padding: 40px;
    display: grid;
    gap: 20px;
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    border-radius: 10px; 
    word-spacing: 4px;
    box-shadow: var(--intro-background) 1.95px 1.95px 2.6px;
}
.testimonial-cards .testimonial-card .name-sec .name p:first-of-type{
    font-weight: 700;
}
.newsletter{
    font-family: 'Raleway', sans-serif;
    width: 100%; 
    height: 10%;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
}

.newsletter-card{
    position: absolute;
    top: -80%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
    width: 55%; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--intro-background); 
    padding: 3%; 
    border-radius: 10px;
}
.newsletter-card h1{
    font-size: 45px;
    font-weight: 700;
}
.newsletter-card p{
    font-size: 17px;
    width: 90%;
    line-height: 23px;
    text-align: center;
    padding: 20px 0px;
}
.newsletter-card form{
    width: 90%;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.newsletter-card form input{
    width: 96%;
    padding: 15px;
    border-radius: 50px;
    outline: none;
    border: none;
}
.newsletter-card form .blue-btn{
    background: linear-gradient(to right, var(--Cyan), var(--Blue));
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 5px 25px;
    color: var(--White);
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}
.newsletter-card form .blue-btn:hover{
    cursor: pointer;
    opacity: 0.5;
}
.newsletter-card #error{
    justify-self: flex-start;
    text-align: left;
    padding-left: 60px;
    font-size: 14px;
    color: var(--Light-Red); 
    display: none;
}
.footer{
    background-color: var(--footer-ackground);
    padding: 250px 100px;
    padding-bottom: 50px;
}
.footer .footer-content{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-items: center;
    font-size: 16px;
}
.footer #footer-logo{
    padding-block: 50px;
} 
.footer-content .address{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}
.footer-content .address p{
    width: 80%;
}
.footer-content .contact{
    display: grid;
    grid-template-rows: 0.3fr 0.3fr;
    gap: 0px;
}
.footer-content .contact .phone, .footer-content .contact .mail {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 20px; 
}
.footer-content .contact .mail{
    grid-template-columns: 0.7fr 1fr;
}
.footer-content ul{
    list-style-type: none;
    line-height: 30px;  
}
.footer-content ul li:hover{
    font-weight: 700;
    cursor: pointer;
}
.footer-content .socials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: flex-start;
}
.footer-content .socials .social{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid var(--White);
    border-radius: 50px;
}
.footer-content .socials .social:hover{
    cursor: pointer;
    border: 1px solid var(--Cyan);
}
.footer-content .socials .social i:hover{
    color: var(--Cyan);
}
.footer-content .socials .social:first-of-type i{ 
    justify-self: start; 
}
@media (min-width:601px) and (max-width: 1000px){
    main img{ 
        width: 90%;
        justify-self: center
    }
    main h1{
        padding: 5% 10%;
        font-size: 35px;
    }
    main p{
        padding:0% 5%;
    }
    .middle-sec{
        padding-inline: 20px;
    }
    .middle-sec .four-sec{
        text-align: center;
    }
    .middle-sec .four-sec p{
        width: 90%;
        font-size: 13px;
    }
    .three{
        grid-template-columns: 1fr;
        padding: 0;
        padding-block: 150px;
        align-items: center;
        justify-items: center;
    }
    .three img{
        width: 80%; 
        padding: 0;
    }
    .three .three-right{
        width: 80%;
    }
    .three .three-right .three-link{
        width: 80%; 
    }
    .three .three-right .three-link img{
        width: 35px;
    }
    .testimonials .testimonial-cards{
        grid-template-columns:1fr ;
    }
    .testimonials #quotes{
        top: 7%;
    }
    .newsletter-card{
        width: 95%;
    }
    .footer{
        padding-inline: 20px;
    }
}

@media only screen and (max-width: 600px){
    body{ 
        height: 100vh;
    }
    nav{ 
        padding: 10px ;  
        display: flex; 
    }
    nav ul{ 
        padding: 0;
    } 
    nav ul li{
        font-size: 12px;
        padding-left: 0px;
    }
    nav ul li:last-child{
        padding-left: 0;
    }
    nav img{
        scale: 0.5;  
        width: 35%;
        justify-self: flex-start
    }
    main{
        background: url(./images/bg-curvy-mobile.svg) ;
        background-repeat:  no-repeat;
        background-size: contain;
        background-position: 0px 530px;
        padding: 0; 
        background-color: var(--intro-background);
     }
    main img{
        width: 90%; 
    }
    main h1{
        padding: 5%;
        font-size: 25px;
    }
    main p{
        padding: 5%; 
    } 
    .middle-sec{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .middle-sec .four-sec p{
        width: 99%;
    }
    .three{
        grid-template-columns: 1fr;
        padding: 0;
        padding-block: 150px;
        align-items: center;
        justify-items: center;
    }
    .three img{
        width: 80%; 
        padding: 0;
    }
    .three .three-right{
        width: 90%; 
        text-align: center; 
        gap: 20px;
    }
    .three .three-right h1{
        font-size: 16px;
        text-align: left;
    }
    .three .three-right p{
        text-align: left;
        font-size: 14px;
        line-height: 16px;
    }
    .three .three-right .three-link img{
        width: 15%;
    }
    .three .three-right .three-link{
        grid-template-columns: 1.2fr 1fr;
        gap: 0px;
        width: 100%;
    }
    .three .three-right .three-link a{
        text-align: left;
    }
    .testimonials{
        padding-block: 0px;
    }
    .testimonials .testimonial-cards{
        grid-template-columns:1fr ; 
    } 
    .testimonials #quotes{
        top: -7%;
    }
    .newsletter{ 
        position: unset;
        margin-block: 200px;
    }
    .newsletter-card{
        position: unset;
        padding-block: 50px;
        width: 90%;
        gap: 20px; 
    }
    .newsletter-card h1{
        font-size: 25px;
        text-align: center;
    }
    .newsletter-card p{
        width: 75%;
        font-size: 17px;
        padding-block: 2px;
    }
    .newsletter-card form {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    }
    .newsletter-card form input{
        width: 95%;
        padding: 15px;
    }
    .newsletter-card form .blue-btn{
        width: 95%;
        padding: 15px;
    }
    .footer{
        padding-inline: 30px;
        padding-bottom: 30px;
    }
    .footer .footer-content{
        grid-template-columns: 1fr;
        gap: 30px;
        font-size: 20px;
    }
    .footer-content .address{
        grid-template-columns: 0.2fr 1fr;
    }
    .footer-content .address img{
        margin-top: 6px;
    }
    .footer-content .address p{
        width: 90%;
        font-size: 20px;

    }
    .footer .footer-content {
        justify-items: flex-start;
    }
    .footer-content .contact{
        gap: 30px;
        width: 66%;
    }
    .footer-content .contact .phone{
        grid-template-columns: 0.1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .footer-content .contact .mail{
        grid-template-columns: 0.2fr 1fr;
        justify-items: center;
        align-items: center; 
    }
    .footer-content ul{
        padding-block: 30px;
    }
    .footer-content .socials{
        width: 100%;
        justify-content:center;
        align-items: center; 
        grid-template-columns: 0.1fr 0.1fr 0.1fr;
    }
}
